@charset "UTF-8";


:root{
    --cor-do-body:#41593E;
    --cor1:#41A681;
    --cor2:#6FA660;
    --cor3:#B2D9A0;
    --cor4:#0D0D0D;

    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-dos-titulos: Georgia;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor1);
    margin: 0px;
}
header{
    background-image: linear-gradient(to bottom, var(--cor2),var(--cor4) );
    min-height: 150px;
    margin: -8px;
    padding: 30px 10px 0px 10px;
}

header .logo{
    width: 100%;
    max-width: 300px;
    margin: auto;
    display: block;
}
header nav{
    text-align: center;

}
header nav a{
    margin: 10px;
    color: black;
    text-decoration: none;
    font-family: var(--fonte-padrão);
    font-weight: bold;
}
header nav a:hover{
    background-color: var(--cor-do-body);
    padding: 10px 5px;
    transition-duration: 0.2s;
    border-radius: 5px;
    color: var(--cor2);
    
}

main{
    background-color: white;
    padding: 10px;
    background-color: #0D0D0D;
}
main p{
    text-align: justify;
    font-family: var(--fonte-padrão);
    margin: 10px;
    text-indent: 30px;
    line-height: 1.2em;
    font-size: 1.1em;
}
main h1{
    font-family: var(--fonte-dos-titulos);
    font-style: italic;
    margin: 10px;
    background-image: linear-gradient(to right, var(--cor-do-body), transparent );
    border-radius: 30px;
    color: var(--cor4);
    padding: 5px 10px;
}

main h2{
    font-family: var(--fonte-dos-titulos);
    font-style: italic;
    background-image: linear-gradient(to right, var(--cor-do-body), transparent);
    padding: 5px;
    border-radius: 30px;
    color: var(--cor4);
    padding: 5px 10px;
    margin: 20px;
}
main img{
    width: 100%;
    max-width: 300px;
    margin: auto;
    display: block;
    padding: 0px;
}
article{
    background-color: white;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
footer{
    background-color: #41593E;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: var(--fonte-padrão);
    font-size: 1em;
    font-weight: bold;
}
.livros{
    text-align: center;
    background-image: none;
   
}
.baixar{
    text-decoration: none;
    background-color: var(--cor-do-body);
    padding: 5px;
    border-radius: 10px;
    color: black;
    font-family: var(--fonte-padrão);
    font-size: 1.1em;
    font-weight: bold;  
}
.baixar:hover{
    background-color: #6FA660;
    color: #41593E;
}

